@inherits LayoutComponentBase

<div class="flex flex-col md:flex-row bg-white">
    <div class="">
        <NavMenu />
    </div>
    <div class="container mx-auto px-4 flex-grow">
        @Body
    </div>
</div>
